body {
    background-color: grey;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    text-align: center;
    padding: 25px 10px;
    border-bottom: 3px solid red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1 {
    color: red;
    margin: 0;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

header p {
    color: silver;
    margin: 5px 0 0 0;
    font-size: 20px;
}

nav {
    background-color: #2f3136;
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid #444;
}

nav a {
    color: silver;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    
}

nav a:hover {
    color: blue;
}

main {
    padding: 30px;
    max-width: 1000px;
    margin: auto;
}

section {
    margin-bottom: 50px;
}

section h2 {
    color: red;
    border-bottom: 2px solid red;
    padding-bottom: 8px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

ul {
    list-style-type: disc;
    margin-left: 30px;
   
}

footer {
    background-color: #2f3136;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 3px solid red;
}

footer p {
    color: silver;
    margin: 0;
    
}
